@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Job Board | KJob</title>

    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/css/themes/theme-kmutnb.css" rel="stylesheet" />

    <!-- Sweetalert Css -->
    <link href="~/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
</head>

<body class="theme-kmutnb">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">

                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>

                <a class="navbar-brand" href="/"><b style="color: #F77100">K</b>Job</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">


                <ul class="nav navbar-nav navbar-menu">
                    <a href="/">หน้าแรก</a>
                    <a class="active" href="#">งาน/ข่าวสาร</a>
                    <a href="#">เกี่ยวกับ</a>
                    <a href="#">เว็บไซต์ มจพ.</a>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <!--          <span class="label-count">7</span>
                            -->
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">การแจ้งเตือน</li>
                            <li class="body">
                                <ul class="menu">

                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">ดูการแจ้งเตือนทั้งหมด</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                    <!-- Tasks -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">account_circle</i>
                            <!--      <span class="label-count">9</span>
                            -->
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">email@email.com</li>
                            <li class="body">
                                <ul class="menu tasks">

                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Answer GitHub questions
                                                <small>92%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar outline-kmutnb" style="width: 250px">
            <!-- User Info -->
            <div class="user-info" style="height: 140px">

                <div class="info-container" style="height: 50%">

                    <div class="email" style="font-size: 16px; font-weight: bold">แผงควบคุม</div>
                    <hr>

                </div>
                <div class="field-kmutnb-small" style="height: 50%;">

                    <input type="text" class="form-control" placeholder="ค้นหา">

                </div>
            </div>
            <!-- #User Info -->
            <!-- Category Menu -->
            <div class="menu">
                <ul class="list">
                    @{
                        var selectedJob = ViewData["SelectedJob"] as KJobRecruitmentWebApp.Data.Job.JobAllData;
                        var categoryList = ViewData["CategoryList"] as List<KJobRecruitmentWebApp.Data.Job.Category>;
                        var jobCategory = categoryList.Find(c =>
                        {
                            return c.id.Equals(selectedJob.category.ToString());
                        });
                        var userProfile = ViewData["Profile"] as KJobRecruitmentWebApp.Data.User.ProfileData;

                        string ifAllCategoryIsSelected = "";
                        if (selectedJob.category.Equals("all"))
                        {
                            ifAllCategoryIsSelected = "active";
                        }
                    }
                    <li class="@ifAllCategoryIsSelected">
                        <a href="/candidate/jobboard?category=all">
                            <i class="material-icons">card_travel</i>
                            <span>ทั้งหมด</span>
                        </a>
                    </li>
                    <!--          <li>
                                  <a href="#">
                                      <i class="material-icons">card_travel</i>
                                      <span>ข่าวสาร</span>
                                  </a>
                              </li>  -->
                    @{
                        foreach (var category in categoryList)
                        {

                            string ifCategoryIsSelected = "";
                            if (selectedJob.category.Equals(category.id))
                            {
                                Console.WriteLine(category.name + " is selected ="+selectedJob.category);
                                ifCategoryIsSelected = "active";
                            }
                            <li class="@ifCategoryIsSelected">
                                <a href="/candidate/jobboard?category=@category.id">
                                    <i class="material-icons">card_travel</i>
                                    <span>@category.name</span>
                                </a>
                            </li>
                        }
                    }

                </ul>
            </div>
            <!-- #END Category Menu -->

        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar" style="width: 150px">

            <div>
                <ul class="page-menu">
                    <a href="/">
                        <li><span>หน้าแรก</span></li>
                    </a>
                    <a href="jobboard">
                        <li class="active"><span>งาน/ข่าวสาร</span></li>
                    </a>
                    <a href="#">
                        <li><span>เกี่ยวกับ</span></li>
                    </a>
                    <a href="#">
                        <li><span>เว็บไซจ์ มจพ.</span></li>
                    </a>
                </ul>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->

    </section>

    <section class="quickbar" style="height: 60px; --sidebar-width: 250px;">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="/candidate/jobboard?category=@jobCategory.id"><i class="material-icons">card_travel</i> @jobCategory.name</a></li>
                <li><a href="/candidate/jobboard/job=@selectedJob.id"><i class="material-icons">library_books</i> @selectedJob.title</a></li>
                <li class="active"><i class="material-icons">file_download</i>สมัครงาน</li>
            </ol>
            <div class="button-group">
                <button type="button" class="btn btn-default waves-effect" id="apply-button">
                    <i class="material-icons">done</i>
                    <span>ยืนยัน</span>
                </button>
                <button type="button" class="btn btn-default waves-effect" id="cancel-apply-button">
                    <i class="material-icons">close</i>
                    <span>ยกเลิก</span>
                </button>

            </div>
        </div>
    </section>



    <section class="content" style="--sidebar-width: 250px; --sidenav-width: 0px; --quickbar-height: 60px">

        <div class="container-fluid">

            <div class="block-header">

            </div>

            <div class="row clearfix">

                <!-- Job Card -->

                @{

                        

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id=@selectedJob.id>
                            <div class="card outline-kmutnb">
                                <div class="body bg-white">
                                    <div align="center">
                                        <img style="border-radius: 50%" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="120" height="120" alt="AdminBSB - Profile Image">
                                    </div>

                                    @{
                                        string detailTitle;
                                        string detailLine1;
                                        if (selectedJob.detail_1 != null)
                                        {
                                            JObject jobDetailJObject = JsonConvert.DeserializeObject(selectedJob.detail_1) as JObject;
                                            detailTitle = jobDetailJObject["title"].Value<string>();
                                            detailLine1 = jobDetailJObject["l1"].Value<string>();
                                        }
                                        else
                                        {
                                            detailTitle = "";
                                            detailLine1 = "";
                                        }
                                    }

                                    <ul class="dashboard-stat-list">

                                        <div class="m-b--35 font-bold" class="email" style="font-size: 20px; white-space: nowrap; overflow: hidden; display: block; text-overflow: ellipsis;" 
                                             align="center">@selectedJob.title</div>

                                        <li>
                                            <hr>
                                            เงินเดือน <span>@selectedJob.min_salary - @selectedJob.max_salary</span>
                                        </li>
                                        <li>
                                            หมวดหมู่ <span>@jobCategory.name</span>
                                        </li>
                                        <li style="white-space: nowrap; overflow: hidden; display: block; text-overflow: ellipsis;">
                                            @detailTitle <span>@detailLine1</span>
                                        </li>
                                    </ul>
                                    <button class="btn btn-block btn-lg bg-orange waves-effect" onclick="location.href='/candidate/jobboard/job=@selectedJob.id'" 
                                            style="margin-top: 30px">รายละเอียด</button>
                                </div>
                            </div>
                        </div>
                }
            
            <style type="text/css">
                    #apply-job-field .form-group .text {
                        margin-top: 9px;
                    }
                </style>
                <div class="col-xs-12 col-sm-9">
                    <div class="card outline-kmutnb" id="apply-job-field">
                        <div class="body">
                            <div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#personal_info" aria-controls="personal_info" role="tab" data-toggle="tab">ข้อมูลส่วนตัว</a></li>
                                    <li role="presentation"><a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab">ข้อมูลเพิ่มเติม</a></li>
                                    <li role="presentation"><a href="#change_password_settings" aria-controls="settings" role="tab" data-toggle="tab">ยืนยันการสมัคร</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="personal_info">

                                        <div class="panel panel-default panel-post">
                                            <div class="panel-heading">

                                                <h5 class="media-heading">
                                                    ประวัติส่วนตัว
                                                </h5>

                                            </div>
                                            <div class="panel-body">

                                                <div class="form-group" id="personal-id">
                                                    <label class="col-sm-3 control-label">รหัสผระจำตัวประชาชน</label>
                                                    <div class="col-sm-9 text">@userProfile.personal_id</div>
                                                </div>
                                                <div class="form-group" id="thai-name">
                                                    <label class="col-sm-3 control-label">ชื่อ - นามสกุล</label>
                                                    <div class="col-sm-9 text">@userProfile.thai_name</div>
                                                </div>
                                                <div class="form-group" id="eng-name">
                                                    <label class="col-sm-3 control-label">Name - Last name</label>
                                                    <div class="col-sm-9 text">@userProfile.eng_name.ToUpper()</div>
                                                </div>
                                                <div class="form-group" id="birth-date">
                                                    <label class="col-sm-3 control-label">วันเดือนปีเกิด</label>
                                                    <div class="col-sm-9 text">@userProfile.date_of_birth</div>
                                                </div>
                                                <div class="form-group" id="gender">
                                                    <label class="col-sm-3 control-label">เพศ</label>
                                                    <div class="col-sm-9 text">@userProfile.gender</div>
                                                </div>
                                                <div class="form-group" id="blood">
                                                    <label class="col-sm-3 control-label">กรุ๊ปเลือด</label>
                                                    <div class="col-sm-9 text">@userProfile.blood</div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="panel panel-default panel-post">
                                            <div class="panel-heading">

                                                <h5 class="media-heading">
                                                    สถานภาพ
                                                </h5>

                                            </div>
                                            <div class="panel-body">

                                                <div class="form-group" id="religion">
                                                    <label class="col-sm-3 control-label">ศาสนา</label>
                                                    <div class="col-sm-9 text">@userProfile.religion</div>
                                                </div>
                                                <div class="form-group" id="religion">
                                                    <label class="col-sm-3 control-label">สถานภาพทางทหาร</label>
                                                    <div class="col-sm-9 text">@userProfile.military_criterion</div>
                                                </div>
                                                <div class="form-group" id="race">
                                                    <label class="col-sm-3 control-label">เชื้อชาติ</label>
                                                    <div class="col-sm-9 text">@userProfile.race</div>
                                                </div>
                                                <div class="form-group" id="nationality">
                                                    <label class="col-sm-3 control-label">สัญชาติ</label>
                                                    <div class="col-sm-9 text">@userProfile.nationality</div>
                                                </div>
                                                <div class="form-group" id="relationship">
                                                    <label class="col-sm-3 control-label">สถานภาพสมรส</label>
                                                    <div class="col-sm-9 text">@userProfile.relationship</div>
                                                </div>
                                                <div class="form-group" id="child">
                                                    <label class="col-sm-3 control-label">จำนวนบุตร</label>
                                                    <div class="col-sm-9 text">@userProfile.child</div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="panel panel-default panel-post">
                                            <div class="panel-heading">

                                                <h5 class="media-heading">
                                                    การติดต่อ
                                                </h5>

                                            </div>
                                            <div class="panel-body">

                                                <div class="form-group" id="religion">
                                                    <label class="col-sm-3 control-label">ที่อยู่</label>
                                                    <div class="col-sm-9 text">@userProfile.address</div>
                                                </div>
                                                <div class="form-group" id="religion">
                                                    <label class="col-sm-3 control-label">จังหวัด</label>
                                                    <div class="col-sm-9 text">@userProfile.province</div>
                                                </div>
                                                <div class="form-group" id="race">
                                                    <label class="col-sm-3 control-label">เชื้เบอร์โทรศัพท์</label>
                                                    <div class="col-sm-9 text">@userProfile.telephone</div>
                                                </div>
                                                <div class="form-group" id="race">
                                                    <label class="col-sm-3 control-label">อีเมล์</label>
                                                    <div class="col-sm-9 text">@userProfile.email</div>
                                                </div>
                           

                                            </div>

                                        </div>


                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="profile_settings">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">ประสบการณ์</label>
                                                <div class="col-sm-10">
                                                    <div class="form-line focused">
                                                        <input type="text" class="form-control" id="NameSurname" name="NameSurname" placeholder="Name Surname" value="Marc K. Hammond" required="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="InputExperience" class="col-sm-2 control-label">ประสบการณ์</label>

                                                <div class="col-sm-10">
                                                    <div class="form-line">
                                                        <textarea class="form-control " id="InputExperience" name="InputExperience" rows="3" placeholder="ประสบการณ์"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="InputExperience" class="col-sm-2 control-label">ทักษะ</label>

                                                <div class="col-sm-10">
                                                    <div class="form-line">
                                                        <textarea class="form-control " id="InputExperience" name="InputExperience" rows="3" placeholder="ทักษะ"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            


                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <input type="checkbox" id="terms_condition_check" class="chk-col-red filled-in">
                                                    <label for="terms_condition_check">I agree to the <a href="#">terms and conditions</a></label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-danger">SUBMIT</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="change_password_settings">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label for="OldPassword" class="col-sm-3 control-label">Old Password</label>
                                                <div class="col-sm-9">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" placeholder="Old Password" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="NewPassword" class="col-sm-3 control-label">New Password</label>
                                                <div class="col-sm-9">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="New Password" required="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="NewPasswordConfirm" class="col-sm-3 control-label">New Password (Confirm)</label>
                                                <div class="col-sm-9">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" id="NewPasswordConfirm" name="NewPasswordConfirm" placeholder="New Password (Confirm)" required="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <button type="submit" class="btn btn-danger">SUBMIT</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>

    <!-- Demo Js -->
    <script src="~/js/demo.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="~/plugins/sweetalert2/dist/sweetalert2.all.min.js"></script>

    
    <!-- Functional for this page -->
    <script src="~/js/jobboard/job-apply.js"></script>

</body>

</html>